{% extends 'myapp/base.html' %}
{% block content %}
<style>
	footer {
		color: white;
	}

	input {
		text-align: center; 
	}

</style>

<script>
	// คืออะไร มาได้อย่างไร เขามาจากที่ไหน เขาคือใคร .................
function autoGrow (oField) {
	if (oField.scrollHeight > oField.clientHeight) {
		oField.style.height = oField.scrollHeight + "px";
	}
}
</script>

<footer>


<h2 id="head-text" style="margin-bottom: 0;"><strong>เพิ่มสินค้าเข้าระบบ</strong></h2>
<p style="text-align: center; margin-bottom: 2rem; color: #6db2fb;">คุณสามารถเพิ่มสินค้าเข้าไปในระบบได้<br>(เฉพาะแอดมิน)</p>
<form id="form-style" method="POST" enctype="multipart/form-data">
	<!-- method="POST" คือ... -->
	{% csrf_token %}
	<!-- csrf_token เอาไว้ใช้กับ form ถ้าไม่ใช้คำสั่งนี้เจ๊ง ใช้ยังไงเดะค่อยไปศึกษาละกัน -->
	<div class="form-group">
		<label for="name">ชื่อสินค้า:</label>
		<input type="text" class="form-control" id="name" name="name" autofocus>
	</div>

	<div class="form-group">
		<label for="price">ราคา:</label>
		<input type="text" class="form-control" id="price" name="price">
	</div>

	<div class="form-group">
		<label for="detail">รายละเอียด:</label>
		<textarea type="text" class="form-control" rows="5" id="detail" name="detail"></textarea>
	</div>

	<div class="form-group">
		<label for="imageurl">URL รูปสินค้า:</label>
		<input type="text" class="form-control" id="imageurl" name="imageurl">
	</div>

	<div class="form-group">
		<label for="quantity">จำนวนสินค้า:</label>
		<input style="width: 11em;margin: auto;" type="number" class="form-control" id="quantity" name="quantity" value="1" min="1" max="5">
	</div>

	<div class="form-group">
		<label for="unit"  style="margin: auto;">หน่วย</label>
		<input style="width: 5em;margin: auto;" type="text" class="form-control" id="unit" name="unit">
	</div>

	<div class="form-group">
		<label for="imageupload" style="width: 15em;margin: auto;">เลือกรูปจากเครื่อง</label>
		<input style="width: 15em;margin: auto;" type="file" class="form-control" id="imageupload" name="imageupload">
	</div>

	<button style="width: 11em;" type="submit" class="btn btn-primary">Submit</button>

</form>

</footer>

{% endblock content %}