{% extends 'myapp/base.html' %}
{% block content %}

<style>
	#text-price {
		color: royalblue;
	}
	


</style>
	<h2 style="color:white;margin: auto;text-align: center;margin-top: 2rem;">สินค้าทั้งหมด</h2>		

	<div class="container py-3">
		<div id="row" class="row row-cols-1 row-cols-md-3 mb-3 text-center" style="">
			{% for pd in product %}
				<div class="col" style="padding: 20px;">
					<div class="card mb-3 rounded-3 shadow-sm" style="width:100%;height:100%">
						{% if pd.image %}
							<img class="card-img-top" src="{{ pd.image.url }}" width="400">
						{% elif pd.imageurl != None %}
							<img class="card-img-top" src="{{ pd.imageurl }}" width="400">
						{% else %}
							<img class="card-img-top" src="/media/default.png" width="400">
						{% endif %}

						<div class="card-body">
							<h2 class="card-title">{{ pd.name }}</h2>
							<h1 id="text-price"><strong><u>{{ pd.price }}</u></strong> <small style="color: black; font-size: 1rem;">บาท/หน่วย</small></h1>
							<p>{{ pd.detail|linebreaks|truncatechars_html:70 }}</p>
							<p>สินค้าเหลือ : {{ pd.quantity }} {{ pd.unit }}</p>
							{% if pd.instock == True %}
								<a href="#" class="btn btn-success">สั่งซื้อ</a>
							{% else %}
								<a href="#" class="btn btn-warning">สินค้าหมด!</a>
							{% endif %}
						</div>
					</div>
						<hr><br>
				</div>
			{% endfor %}
		</div>
	</div>



{% endblock content %}