{% extends 'myapp/base.html' %}
{% block content %}
<style>
	footer {
		color: white;
	}

	input {
		text-align: center; 
	}

</style>

<script>
	// คืออะไร มาได้อย่างไร เขามาจากที่ไหน เขาคือใคร .................
function autoGrow (oField) {
	if (oField.scrollHeight > oField.clientHeight) {
		oField.style.height = oField.scrollHeight + "px";
	}
}
</script>

<footer>

<h2 id="head-text"><strong>Register</strong></h2>

<form id="form-style" method="POST">
	<!-- method="POST" คือ... -->
	{% csrf_token %}
	<!-- csrf_token เอาไว้ใช้กับ form ถ้าไม่ใช้คำสั่งนี้เจ๊ง ใช้ยังไงเดะค่อยไปศึกษาละกัน -->
	<div class="form-group">
		<label for="name">ชื่อ</label>
		<input type="text" class="form-control" id="first_name" name="first_name" autofocus>
	</div>

	<div class="form-group">
		<label for="price">นามสกุล</label>
		<input type="text" class="form-control" id="last_name" name="last_name">
	</div>

	<div class="form-group">
		<label for="price">Email</label>
		<input type="text" class="form-control" id="email" name="email">
	</div>

	<div class="form-group">
		<label for="price">Password</label>
		<input type="text" class="form-control" id="password" name="password">
	</div>

	<button style="width: 11em; margin-top: 1rem;" type="submit" class="btn btn-primary">Submit</button>

</form>

</footer>

{% endblock content %}