{% extends 'myapp/base.html' %}
{% block content %}
<style>

</style>

<header>
  <div class="jumbotron">
    <div class="container">
      <h3><u>Contact me</u></h3>
      <br>
      <a href="https://pngio.com/images/png-a1456453.html" target="_blank">Introduction | XYZScripts Help</a>

      <!-- action ใช้ยังไง ยังหาคำตอบอยู่ (ยังคงคา) -->
      <form action="contact.html">
        <label>Firstname</label><br>
        <input type="text" name="fname" value=" "><br>
        <label>Lastname</label><br>
        <input type="text" name="lname" value=" "><br><br>
        <input type="submit" name="submit-contact" class="btn btn-primary"><br><br>
      </form>


      <table border="1" width="500">
        <tr>
          <th scope="col">Phone</th>
          <th scope="col">Line</th>
          <th scope="col">Facebook</th>
        </tr>

        <tr>
          <td scope="col">089,999,9999</td>
          <td scope="col">@HackerFromDjango</td>
          <td scope="col">Panuchai Jankrawee</td>
        </tr>


      <table/>
    </div>
  </div>
</header>


  <!-- <div id="text-break">
    <h1>test h1</h1>
    <h1 id="text-DBB" data-text="Data Breach Boy"><span>Data Breach Boy</span></h1>
  </div> -->
{% endblock content %}