/* section.mairoo1 {
    max-height: 5%;
    max-width: 80%;
} */

body {
    inline-height:0;
}

#container {
    display: flex;
    
    flex-wrap: wrap;
    background-color: #191919;
    
}

#container > button {
    width: 8%;
    height: 6rem;
    margin: 10px;
    
}


#api {
    display: flex;
    justify-content: flex-end;
    background-color: #191919;
    padding-top: 3rem;
}



